@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color: #C9EEFF;
    font-family: 'Inter', sans-serif;
}
main section{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    min-height: 100vh;
}

main section .content{
    background: #30E3DF;
    padding: 9px;
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
}
main section .content .film,
main section .content .duration{
    display: flex;
    flex-direction: column;
}
main section .content input{
    background: #fff;
    border: none;
    border-radius: 0.4rem;
    padding: 1.4rem 3.2rem;
    font-size: 1.6rem;
}
main section .content .btn button{
    border: none;
    width: 300px;
    border-radius: 0.4rem;
    padding: 1.4rem 3.2rem;
    font-size: 1.6rem;
    background-color: #FFD6EC;
    cursor: pointer;
}
main section .content .btn button:hover{
    background-color: #fff;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.retorno{
    text-align: center;
    background-color: #FFD6EC;
    width: 300px;
    height: 300px;
}
.output{
    display: flex;
    margin-top: 50px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.fundo{
    display: flex;
    gap: 30px;
}